* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

:root {
  --blue-color-00: #006195;
  --grey-color-90: #908e8e;
}

#root {
  width: 100%;
}
